.OrderStatusCotainer {
  background-color: white;
  padding: 10px 70px 10px 10px;
  border-radius: 20px;
  margin: 20px;
  min-width: 300px;
}

.marginLeftLarge {
  margin-left: 80px;
}
.marginLeftSmall {
  margin-left: 50px;
}

.OrderStatusCotainer img {
  height: 1.5rem;
}
