.main {
  height: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

a {
  text-decoration: underline;
  color: #fc8a06;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4dvh;
  width: 90dvw;
  height: auto;
  min-width: 80dvw;
  justify-self: center;
}

.heroMain {
  background-color: red;
  height: 60dvh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.upper {
  background-color: rgba(3, 8, 31, 0.9);
  height: 80%;
  display: flex;
  justify-content: space-around;
  border-radius: inherit;
}

.restaurantInfo {
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.restaurantInfo h3 {
  font-size: 3.5rem;
}

.dishImageWrapper {
  padding: 10%;
  position: relative;
}

.dishImageWrapper img {
  height: 35dvh;
  width: 25dvw;
  border-radius: 10px;
}

.openTill {
  position: absolute;
  background-color: #fc8a06;
  height: 2.5rem;
  width: 13rem;
  bottom: 140px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  padding: 15px;
}

.miniWrapper {
  display: flex;
  gap: 20px;
}

.miniWrapper span {
  border: 1px solid white;
  border-radius: 40px;
  padding: 10px 30px;
}

.ratingDisplay {
  position: absolute;
  bottom: 10rem;
  background-color: white;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.ratingDisplay h1 {
  font-size: 3rem;
  font-weight: 400;
}

.ratingDisplay p {
  font-size: 0.7rem;
}
.footer {
  background-color: white;
  height: 20%;
  display: flex;
  justify-content: space-between;
  padding: 30px 60px;
  align-items: center;
}

.footer input {
  padding: 15px 40px;
  font-size: 1rem;
  border-radius: 40px;
  border: 1px solid grey;
  margin-right: 100px;
  width: 20dvw;
  display: inline-block;
}
.footer input:hover {
  border: 1px solid #fc8a06;
  background-color: #f7f2ee;
  transition: border 0.3s ease-in-out, background-color 0.2s ease-in-out;
}
.footer input:focus {
  border: 1px solid #fc8a06;
  outline: none;
}

.inputWrapper {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 15px;
  top: 20px;
  color: gray;
}

.timeInfoMain {
  height: 70dvh;
  background-color: rgba(251, 251, 251, 1);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 20px grey;
}

.timeInfoMain span {
  font-weight: 600;
}

.deliveryInfo h1 {
  margin-bottom: 20px;
}
.deliveryInfo p {
  margin-bottom: 10px;
}
.operationalInfo h1 {
  margin-bottom: 20px;
}
.operationalInfo p {
  margin-bottom: 10px;
}

.operationalInfo {
  background-color: rgba(3, 8, 31, 1);
  color: white;
  /* border-radius: 0 10px 10px 0; */
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactInfo h1 {
  margin-bottom: 10px;
}

.sameSize {
  padding: 80px 40px;
}
